@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  position: relative;
  background-color: #6ECB63;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4em;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

input {
  cursor: pointer;
}

.nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

select {
  width: 10vw;
  height: 2em;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  outline: none;
}

option {
  border-radius: 33px 30px / 33px 30px;
}

.far,
.fas {
  font-size: 3em;
}

.btn {
  border: none;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: 70vh;
}

.bar {
  border: 0.05vw solid #e41f7b;
  width: 0.75vw;
  margin: 0.1vw;
  background-color: #0b0c10;
  color: white;
  font-size: 9px;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
  background-color: #6ECB63;
  width: 100%;
}

.manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info > p {
  font-size: 1em;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */